<div class="standout flex px-4 py-3 border border-neutral-200 dark:border-neutral-700 border-2 rounded overflow-hidden shadow-2xl relative backdrop-blur-2xl mb-6" >
  <span class="text-primary-400 ltr:pr-3 rtl:pl-3 flex items-center" >
    {{ $alex := resources.Get "img/alex.png" }}
    <img class="" width="44" height="64" src="{{ $alex.RelPermalink }}" />
  </span>

  <span class="dark:text-neutral-300" >
    Alex says: "Become a Patron at <a class="font-bold hover:text-primary-400 text-primary-800 dark:text-primary-200" href="https://patreon.com/ChilluminatiPod/">Patreon.com/ChilluminatiPod</a> and gain access to ad-free episodes, weekly bonus minisodes, access to our Discord community, and more!"
  </span>
</div>
